@import "../modules/logotype";
@import "../modules/search";

.main-header {
  width: 100%;
  height: 380px;
  position: relative;
  font-size: 16px;
  font-family: ubuntu-medium;

  .top-line {
    width: 100%;
    height: 14px;
    position: absolute;
    top: -5px;
  }

  .header-items {
    @extend .middle;
    padding-top: 77px; //91px-14px

    .header-logo {
      @extend .logotype;
      min-width: 300px;

      @include breakpoint($break-small){
        float: none;
        margin-top: -80px;
        width: 100%;
      }

      @include breakpoint(min-width 700px){
        margin-top: -80px;
      }

      @include breakpoint(min-width 800px){
        float: left;
        width: percentage(738px / $mid-width);
        margin-top: -5px;
      }

    }

    .search {
      float: left;

      @include breakpoint($break-small){
        width: 100%;
        clear: both;
        margin-top: -20px;
      }

      @include breakpoint(min-width 700px){
        width: 100%;
      }

      @include breakpoint(min-width 800px){
        clear: none;
        float: left;
        width: percentage(1170px / $mid-width);
        margin-top: 60px;
      }

    }


    .main-menu {
      width: percentage(542px / $mid-width);
      font-weight: 500;
      font-size: em(15, 16);
      min-width: 400px;

      a {
        text-transform: uppercase;
        color: $dark-blue-color;
        float: left;
        margin-right: 50px;
      }
      a:hover {
        color: $orange-color;}

      .change-language {
        color: $orange-color;
      }

      @include breakpoint($break-small){
        display: none;
      }

      @include breakpoint(min-width 500px){
        margin: 0 auto;
        padding-top: 20px;
        float: none;
        clear: both;
        display: block;
        margin-left: 25%;
      }

      @include breakpoint(min-width 800px){
        clear: none;
        float: right;
        margin-top: -60px;
      }

    }


  }




}
