@import "../modules/logotype";
@import "../modules/search";

.main-header {
  @include layout(12);

  font-family: 'Ubuntu Medium';
  height: 380px;
  position: relative;


  .header-items {
    @include container(80em);
    @include span(10);

    margin-left: span(1);
    padding-top: 73px; //91px-14px

    .header-logo {
      @include span(3);
      @extend .logotype;

      min-width: 300px;
    }

    .search {
      @include span(5);

      margin-top: 24px;
    }


    .main-menu {
      @include span(last 3);

      margin-top: 40px;
      font-family: "Ubuntu Medium";

      a {
        @include adjust-font-size-to(12px);

        color: $dark-blue-color;
        float: left;
        margin-right: 50px;
        text-transform: uppercase;
      }
      a:hover {
        color: $orange-color;
      }

      a:last-child {
        float: right;
        margin-left: -50px;
        margin-right: 0;
      }

      a:first-child {
        margin-left: 30px;
      }

      .change-language {
        color: $orange-color;
      }
    }
  }
}
