@import "../modules/slide";
@import "../modules/page-cover";

.main-info {
  @include layout(12);
  @include container(80em);
  @include span(10);
  @include breakpoint(min-width 600px){
    margin-bottom: 40px;
  }
  @include breakpoint(min-width 700px) {
    @include span(9.3);
    margin-bottom: 0;
    margin-left: 0;
  }
  @include breakpoint(min-width 1000px) {
    @include span(10);

    margin-left: span(1);
  }
  @include breakpoint(min-width 1600px) {
    margin-left: span(1.8);
  }

  clear: both;
  margin-left: span(1);
  margin-right: span(1);
  margin-top: -40px;
  position: relative;
  z-index: 9;
}

.info-menu {
  @include span(1);

  a {
    padding: 5px;

    clear: left;
    cursor: pointer;
    display: block;
    float: left;
    height: span(1);
    margin-bottom: 5px;
    position: relative;
    width: 100%;

    .tooltip {
      @include adjust-font-size-to(14px);

      top: 0;
      left: span(13);

      padding: 5px;

      background: #f2c000;

      color: #fff;
      display: block;
      height: span(10);
      position: absolute;
      text-transform: uppercase;
      transition: all 100ms;
      visibility: hidden;
      //width: span(25);
      width: 0;
      z-index: 99 !important;

      @include breakpoint(min-width 600px){
        visibility: visible;
        width: span(125);
      }
      @include breakpoint(min-width 700px){
        @include adjust-font-size-to(10px);
        visibility: hidden;
        width: 0;
      }
      @include breakpoint(min-width 760px){
        @include adjust-font-size-to(14px);
      }

    }

    img {
      width: 100%;
    }

    &:hover {
      .tooltip {
        display: block;
        visibility: visible;
        width: span(45);
        @include breakpoint(min-width 600px){
          width: span(125);
        }
        @include breakpoint(min-width 700px){
          width: span(45);
        }
      }
    }


    &:nth-child(1) {
      background-color: #ffce00;
      img {
        margin-top: 5px;
      }

      .tooltip {
        background-color: #ffce00;
      }
    }

    &:nth-child(2) {
      background-color: #e36a1e;
      img {
        margin-top: 10px;
      }
      .tooltip {
        background-color: #e36a1e;
      }
    }

    &:nth-child(3) {
      background-color: #be391e;

      .tooltip {
        background-color: #be391e;
      }
    }

    &:nth-child(4) {
      background-color: #26192c;

      .tooltip {
        background-color: #26192c;
      }
    }

    &:nth-child(5) {
      background-color: #193052;
      .tooltip {
        background-color: #193052;
      }
    }
  }
}
