@import '../modules/footer-navigation';
@import '../modules/social';
@import "../modules/copyright";
@import "../modules/mini-footer";

.page-footer {
  clear: both;
  width: 100%;
  @include breakpoint(min-width 700px){
    /*@include span(8.4); */
  }
  @include breakpoint(min-width 1000px){
    width: 100%;
    float:none;
  }
}

.footer-content {
  clear: both;
}
