@import '../modules/footer-navigation';
@import '../modules/social';
@import "../modules/copyright";
@import "../modules/mini-footer";

.page-footer {
  clear: both;
  width: 100%;
}

.footer-content {
  clear: both;
}