.projects {
  @include container(80em);
  @include layout(12 0 inside);

  clear: both;
  margin-left: span(2);
  margin-right: span(1.1);
  margin-top: 20px;

  header {
    border-bottom: 1px solid #efefef;
  }

  nav {
    @include span(8);
    a {
      @include adjust-font-size-to(14px);

      padding: 8px 38px;

      background: #f4f6f8;

      border-top: 3px solid #b4b4c0;
      color: $dart-orange-color;
      display: block;
      float: left;
      position: relative;
      text-transform: uppercase;

      &:after {
        top: 0;
        right: -33px;

        background: url("../images/projects-nav.jpg") no-repeat;

        content: '';
        display: block;
        float: right;
        height: 40px;
        min-height: -40px;
        position: absolute;
        width: 60px;
      }
    }

    .out-link {
      @include adjust-font-size-to(12px);

      background: none;

      border-top: none 0;
      color: #b4b4c0;

      &:hover {
        color: $orange-color;
      }
      &:after {
        display: none;
      }
    }
  }

  .counter {
    @include span(last 2);

    color: #b4b4c0;
    text-align: right;
    span {
      padding: 0 5px;

      color: $orange-color;
      display: inline-block;
    }
  }
}