.projects {
  @include container(80em);
  @include layout(12 0 inside);

  clear: both;
  margin-left: span(2);
  margin-right: span(1.1);
  margin-top: 20px;

  header {
    border-bottom: 1px solid #efefef;
  }

  nav {
    @include span(8);
    a {
      @include adjust-font-size-to(14px);

      padding: 8px 38px;

      background: #f4f6f8;

      border-top: 3px solid #b4b4c0;
      color: $dart-orange-color;
      display: block;
      float: left;
      position: relative;
      text-transform: uppercase;

      &:after {
        top: 0;
        right: -33px;

        background: url("../images/projects-nav.jpg") no-repeat;

        content: '';
        display: block;
        float: right;
        height: 40px;
        min-height: -40px;
        position: absolute;
        width: 60px;
      }
    }

    .out-link {
      @include adjust-font-size-to(12px);

      background: none;

      border-top: none 0;
      color: #b4b4c0;

      &:hover {
        color: $orange-color;
      }
      &:after {
        display: none;
      }
    }
  }

  .counter {
    @include span(last 2);

    color: #b4b4c0;
    text-align: right;
    span {
      padding: 0 5px;

      color: $orange-color;
      display: inline-block;
    }
  }

  .projects-content {
    clear: both;
    min-height: 40px;
    background: #f1f2f5;
    border-top: 1px solid #ffffff;
    border-bottom: 3px solid $dart-orange-color;
    margin-bottom: 20px;
    position: relative;

    -webkit-box-shadow: 0 12px 27px -13px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 12px 27px -13px rgba(0,0,0,0.2);
    box-shadow: 0 12px 27px -13px rgba(0,0,0,0.2);

    padding: 15px 20px;
    padding-right: 0;

    article {
      @include span(2.6);
      @include adjust-font-size-to(10px);

      border-left: 1px solid #b4b4c0;
      margin-left: -1px;

      border-right: 1px solid #b4b4c0;

      padding: 0 15px;

      min-height: 210px;

      a {
        min-height: 120px;
        display: block;
      }

      img {
        width: span(6);
        height: auto;
        float: none;
        margin: 0 auto;
        display: block;
        position: relative;
        top: 50%;
      }

      .project-name {
        display: inline-block;
        clear: both;
        float: none;
        @include adjust-font-size-to(24px);
        font-family: 'Ubuntu Regular';
        padding: 5px 0 5px 0;
      }

      .project-category{
        clear: both;
        display: block;
        color: $orange-color;
        margin-bottom: 10px;
      }

      p {
        display: inline-block;
        @include adjust-font-size-to(18px);
      }

    }

  }

}