@import 'compass/reset';
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/user-interface";

@import "susy";
@import "breakpoint";

@import "grids";

/*@import "pesticide";*/

@import "modules/icons";
@import "modules/fonts";

$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: "em";
$rem-with-px-fallback: true;
$default-rhythm-border-width: 1px;
$default-rhythm-border-style: solid;
$round-to-nearest-half-line: false;
$min-line-padding: 2px;

$base-width: 2880px;
$mid-width: 2554px;

$orange-color: #f28123;
$dart-orange-color: #d34e24;
$dark-blue-color: #32213a;
$light-blue-color: #709cca;
$blue-color: #3c6ea2;

//Components
@import "components/base";
@import 'components/main-header';
@import 'components/page-header';
@import 'components/main-info';
@import 'components/news-block';
@import 'components/fast-news';
@import "components/page-footer";