@import 'compass/reset';
@import "compass/typography/vertical_rhythm";
@import "compass/css3/user-interface";

@import "susy";
@import "breakpoint";

@import "grids";

//@import "pesticide";

@import "modules/icons";
@import "modules/fonts";

$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: "em";

$base-width: 2880px;
$mid-width: 2554px;

$orange-color: #f28123;
$dark-blue-color: #32213a;

//Components
@import "components/base";
@import 'components/main-header';