.breadcrumbs {
  float: left;
  margin-top: get-gutter-width(18);
  max-width: span(6);

  nav {
    padding: 2px 12px;

    background: #f87e47;

    border-radius: 4px;
  }

  a {
    @include adjust-font-size-to(13px);

    color: #fff;
    float: left;
    font-family: 'Ubuntu Medium';

    &:first-child {
      font-family: 'Ubuntu Light';
    }

    &:hover {
      color: $dark-blue-color;
    }
  }
}