.copyright {
  @include adjust-font-size-to(13px);

  padding: 20px 0;

  background: #f4f7fb;

  border-top: 1px solid #fff;
  color: #57525e;
  font-family: 'Ubuntu Regular';

  span {
    text-transform: uppercase;
  }

  .footer-content {
    @include layout(11);
    @include container(80em);
    @include breakpoint(min-width 300px) {
      margin-left: - span(0.5);
    }
    @include breakpoint(min-width 700px) {
      margin-left: span(0.2);
      /*width: span(8);*/
      padding-right: span(2);
      width: auto;
    }
    @include breakpoint(min-width 1000px) {
      margin-left: span(1.83);
      padding-right: 0;
    }

    margin-left: span(1.83);
    margin-right: span(1);
  }
}

.tanais-gr {
  @include span(2);
  @include breakpoint(min-width 300px) {
    clear: both;
    float: left;
    text-align: center;
    width: span(12);
  }
  @include breakpoint (min-width 700px) {
    clear: none;
    text-align: left;
    width: span(2);
  }

  margin-top: 15px;
  span {
    color: $orange-color;
  }
}

.copylinks {
  @include span(3);
  @include breakpoint(min-width 300px) {
    clear: both;
    float: left;
    margin-left: 0;
    text-align: center;
    width: span(12);
  }
  @include breakpoint(min-width 700px) {
    clear: none;
    float: left;
    margin-left: span(2);
    text-align: center;
    width: span(3);
  }

  margin-left: span(2);
  text-align: center;
  a {
    color: #7b86a1;
    display: block;
    &:hover {
      color: $dart-orange-color;
    }
  }
}

.copy {
  @include span(last 3);
  @include breakpoint(min-width 300px) {
    clear: both;
    float: left;
    text-align: center;
    width: span(12);
  }
  @include breakpoint(min-width 700px) {
    clear: none;
    float: right;
    text-align: right;
    width: span(last 3);
  }

  margin-top: 15px;
  text-align: right;
  span {
    color: #000;
    font-family: 'Ubuntu Medium';
  }
}
