.copyright {
  @include adjust-font-size-to(13px);

  padding: 20px 0;

  background: #f4f7fb;

  border-top: 1px solid #fff;
  color: #57525e;
  font-family: 'Ubuntu Regular';

  span {
    text-transform: uppercase;
  }

  .footer-content {
    @include layout(11);
    @include container(80em);

    margin-left: span(1.83);
    margin-right: span(1);
  }
}

.tanais-gr {
  @include span(2);

  margin-top: 15px;
  span {
    color: $orange-color;
  }
}

.copylinks {
  @include span(3);

  margin-left: span(2);
  text-align: center;
  a {
    color: #7b86a1;
    display: block;
    &:hover {
      color: $dart-orange-color;
    }
  }
}

.copy {
  @include span(last 3);

  margin-top: 15px;
  text-align: right;
  span {
    color: #000;
    font-family: 'Ubuntu Medium';
  }
}