.search-icon {
  background: url("../images/icons/search-icon.svg") no-repeat;

  fill: #b3c0ca;
}

.slides-header-text-icon {
  background: url('../images/slides-header.png') no-repeat;

  background-size: contain;
}

.info-icon {
  //width: image-width("../images/icons/info-icon-black.png");
  //height: image-height("../images/icons/info-icon-black.png");
  background: url("../images/icons/info-icon-black.png") no-repeat;

  background-size: contain;
  display: block;
  float: left;
  height: 16px;
  width: 16px;

  //@include breakpoint(min-width 1200px){
  //  width: 16px;
  //  height: 16px;
  //}
}

.info-icon-orange {
  background: url("../images/icons/info-icon-orange.png") no-repeat;

  background-size: contain;
  height: 16px;
  width: 16px;
}

.inquiry-icon {
  background: url('../images/icons/inquiry-icon.png') no-repeat;

  background-size: contain;
  display: block;
  float: left;
  height: 15px;
  margin-top: 3px;
  width: 15px;
}

.breadcrumb-arrow {
  background: url('../images/icons/breadcrumbs-arrow.png') no-repeat;

  background-size: contain;
  display: block;
  float: left;
  height: 8px;
  margin-left: 5px;
  margin-right: 2px;
  margin-top: 7px;
  width: 8px;
}

.materials {
  .prew {
    background: url('../images/materials-arrow.png') no-repeat;

    background-size: contain;
    cursor: pointer;
    display: block;
    float: left;
    height: 14px;
    margin-top: 6px;
    width: 14px;
  }
  .next {
    @extend .prew;

    float: left;
    transform: rotate(180deg);
  }
}

.out-link-icon {
  top: 12px;
  right: 20px;

  background: url("../images/icons/out-link-icon.png") no-repeat;

  background-size: contain;
  display: block;
  height: 12px;
  position: absolute;
  width: 12px;
}

.projects-arrow-left {
  top: 45%;
  left: span(0.08);

  background: url("../images/icons/projects-arrow.png") no-repeat;

  background-size: contain;
  cursor: pointer;
  display: block;
  height: 36px;
  position: absolute;
  width: 27px;
  @include breakpoint(min-width 700px){
    left: span(0.10);
  }
  @include breakpoint(min-width 1000px){
    left: span(0.08)
  }
}

.projects-arrow-right {
  @extend .projects-arrow-left;

  left: span(11.65);

  transform: rotate(180deg);
  @include breakpoint(min-width 700px){
    left: span(11.35);
  }
  @include breakpoint (min-width 1000px){
    left: span(11.65);
  }
}

.up-icon {
  background: url("../images/icons/up.png") no-repeat;

  background-size: contain;
  display: block;
  float: right;
  height: 28px;
  width: 28px;
}

//SOCIAL

//.fb {
//  @extend .social-icon;
//  background: url("../images/icons/social/Facebook.svg") no-repeat;
//}
//
//.vk {
//  @extend .social-icon;
//  background: url("../images/icons/social/Vk.svg") no-repeat;
//}
