.search-icon {
  background: url("../images/icons/search-icon.svg") no-repeat;

  fill: #b3c0ca;
}

.slides-header-text-icon {
  background: url('../images/slides-header.png') no-repeat;
  background-size: contain;
}