.logotype {
  @include breakpoint(min-width 300px) {
    width: span(1);
  }
  @include breakpoint(min-width 600px) {
    height: 187px;
    width: percentage(738px / $mid-width);
  }

  background: url("../images/logotype.png") no-repeat;

  background-size: contain;
  display: block;
  height: 187px;
  width: percentage(738px / $mid-width);
}
