.mini-footer {
  @include container(80em);
  @include layout(12 0 inside);

  clear: both;
  margin-bottom: 20px;
  margin-left: span(2);
  margin-right: span(1.1);

  img {
    height: auto;
    width: span(1.5);
  }

  .up {
    @include span(last 1);
    @include adjust-font-size-to(16px);

    color: #cacad2;
    font-family: 'Ubuntu Medium';
    margin-top: 20px;
    padding-top: 5px;

    &:hover {
      color: $dart-orange-color;
    }
  }
}