.news {
  @include span(last 9);
  @include border-box-sizing;
  @include breakpoint(min-width 700px) {
    @include span(7);
  }
  @include breakpoint(min-width 1000px) {
    @include span(last 9);
  }

  padding-left: get-gutter-width();
  @layout(global-box-sizing: border-box);

  header {
    margin-bottom: get-gutter-width(8);
  }


  article {
    @include border-box-sizing;
    @include breakpoint(min-width 600px){
      width: span(11);
    }
    @include breakpoint(min-width 700px) {
      width: span(5.2);
    }
    @include breakpoint(min-width 1000px) {
      width: span(3.5);
    }

    border: 3px solid #e7eaee;
    background: #fff;

    float: left;
    font-family: 'Ubuntu Light';
    line-height: 1.2em;
    margin-bottom: get-gutter-width(6);
    margin-right: get-gutter-width(6);
    width: span(3.5);

    &:hover {
      border-color: $orange-color;
    }

    time {
      padding: 10px 5px;

      color: $dart-orange-color;
    }

    img {
      height: auto;
      width: 100%;
    }

    p {
      padding: 10px 5px;

      color: #2f578c;
    }

    a {
      color: #2f578c;
    }
  }
}
