.news {
  @include span(last 9);
  @layout(global-box-sizing: border-box);
  @include border-box-sizing;

  header {
    margin-bottom: get-gutter-width(8);
  }

  padding-left: get-gutter-width();


  article  {
    width: span(3.5);
    margin-right: get-gutter-width(6);
    margin-bottom: get-gutter-width(6);
    float: left;
    background: #ffffff;
    border: 3px solid #e7eaee;

    &:hover {
      border-color: $orange-color;
    }


    @include border-box-sizing;

    font-family: 'Ubuntu Light';
    line-height: 1.2em;

    time {
      color: $dart-orange-color;
      padding: 10px 5px;
    }

    img {
      width: 100%;
      height: auto;
    }

    p {
      color: #2f578c;
      padding: 10px 5px;
    }

    a {
      color: #2f578c;
    }
  }

}