.page-cover {
  @include span(last 11);

  display: block;
  height: span(4);
  margin-bottom: get-gutter-width(15);
  margin-top: get-gutter-width(15);
  position: relative;

  img {
    -webkit-box-shadow: 0 12px 27px -13px rgba(0,0,0,0.2);
       -moz-box-shadow: 0 12px 27px -13px rgba(0,0,0,0.2);
            box-shadow: 0 12px 27px -13px rgba(0,0,0,0.2);
    height: auto;
    width: 100%;
  }

  footer {
    @include span (3);

    left: span(1);
    bottom: span(5);

    position: absolute;
  }

  span {
    @include adjust-font-size-to(18px);

    padding: 2px 7px;

    background: #fff;

    color: $orange-color;
    font-family: 'Ubuntu Bold';
  }
}