.search {
  position: relative;

  input[type='text'] {
    @include input-placeholder {
      text-transform: uppercase;
    }
    @include span(15);

    border-color: #b6bdc8;
    border-radius: 28px;
    border-style: solid;
    border-width: 4.111px;
    box-shadow: none;
    height: 40px;
    margin-bottom: 0;
    outline: none;
    padding-left: 20px;
    padding-right: 70px;
  }

  input[type='text']:focus {
    border-color: #d34e24 !important;
    box-shadow: none;
  }

  #search-submit {
    @include span(last 1);

    border: none;
    background: url("../images/icons/search-icon.svg") no-repeat;

    cursor: pointer;
    margin-right: -24%;
    margin-top: -30px;
    outline: none;
    width: 21px;
  }
}