@import '../modules/icons';
.social-menu {
  @include span(last 1.8);

  padding-top: 5px;

  a {
    display: block;
    float: left;
    height: 20px;
    margin-right: 10px;
    width: 20px;

    .soc-icon {
      height: 15px;
      width: auto;
    }

    .tw {
      height: auto;
      width: 20px;
    }

    .fb, .vk, .yt, .in {
      @extend .soc-icon;
    }
  }

  a:last-child {
    margin-right: 0;
  }
}
